*{
  margin: 0;
  padding: 0;
}

body{
  background-color: blueviolet;
}

.img-gallary{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.small-img{
  display: flex;
  flex-direction: column;
  
}
.small-img img{
  border: 2px solid salmon;
  width: 12vh;
  opacity: 0.5;
}
.small-img img :hover{
  opacity: 1;
}
.larg-img{
  border: 2px solid salmon;
}
.larg-img img{
  height: 48.5vh;
}